@import "tailwindcss";

:root {
  --color-primary: #4F46E5;
  --color-black: #0A0A0A;
  --color-text-muted: #4A5565;
  --color-bg: #F5F5F5;
  --color-accent-dark: #130E67;
  --color-neutral: #8A8A8A;

  --text: var(--color-text-muted);
  --text-h: var(--color-black);
  --bg: var(--color-bg);
  --border: var(--color-neutral);

  --sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


body {
  margin: 0;
  font-family: var(--sans);
}

#root {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


